{% extends 'jobs/base.html' %}
{% load static %}
{% block title %} - Projects{% endblock %}
{% block content%}
{% for project in projects %}
    <div class="px-4 py-5 h-100 text-center ">
        <img class="d-block mx-auto mb-4" src="{{ project.image.url }}" alt="" height="450px">
        <h4 class="display-5 fw-normal">{{ project.title }}</h4>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">{{ project.summary }}</p>
            <p class="lead mb-2 fs-5 text-muted">{{ project.started }} - {{ project.ended }}</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" onclick="window.open('{{ project.link }}', '_blank')" class="btn btn-secondary btn-lg px-4 me-sm-3 align-content-center">View Project <i class="far fa-eye"></i></button>
            </div> 
        </div>
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
    {% endfor %}
{% endblock %}